//Example of how to use fontface:
//@include font-face(Blanc, "../font/Blanc-Regular", font-weight, font-style, eot woff2 woff ttf);
//@include font-face(Blanc, "../font/Blanc-Medium", 700, normal, woff ttf);
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-dax-pro-wide:
 *   - http://typekit.com/eulas/00000000000000003b9b0534
 *   - http://typekit.com/eulas/00000000000000003b9b0533
 *   - http://typekit.com/eulas/00000000000000003b9b052b
 *   - http://typekit.com/eulas/00000000000000003b9b052c
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-14 18:15:54 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=krm6mvw&ht=tk&f=4819.5245.5279.5280&a=35268624&app=typekit&e=css");

@font-face {
  font-family  : "ff-dax-pro-wide";
  src          : url("https://use.typekit.net/af/1ffa7f/00000000000000003b9b0534/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/1ffa7f/00000000000000003b9b0534/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/1ffa7f/00000000000000003b9b0534/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display : auto;
  font-style   : italic;
  font-weight  : 400;
}

@font-face {
  font-family  : "ff-dax-pro-wide";
  src          : url("https://use.typekit.net/af/d63d8d/00000000000000003b9b0533/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/d63d8d/00000000000000003b9b0533/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/d63d8d/00000000000000003b9b0533/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display : auto;
  font-style   : normal;
  font-weight  : 400;
}

@font-face {
  font-family: "ff-dax-pro-wide";
  src: url("https://use.typekit.net/af/7d85f9/00000000000000003b9b0531/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/7d85f9/00000000000000003b9b0531/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/7d85f9/00000000000000003b9b0531/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family  : "ff-dax-pro-wide";
  src          : url("https://use.typekit.net/af/125cd1/00000000000000003b9b052b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/125cd1/00000000000000003b9b052b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/125cd1/00000000000000003b9b052b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display : auto;
  font-style   : normal;
  font-weight  : 700;
}

@font-face {
  font-family  : "ff-dax-pro-wide";
  src          : url("https://use.typekit.net/af/681e5e/00000000000000003b9b052c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/681e5e/00000000000000003b9b052c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/681e5e/00000000000000003b9b052c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display : auto;
  font-style   : italic;
  font-weight  : 700;
}

.tk-ff-dax-compact-pro {
  font-family : "ff-dax-compact-pro", sans-serif;
}

.tk-ff-dax-pro {
  font-family : "ff-dax-pro", sans-serif;
}

.tk-ff-dax-pro-condensed {
  font-family : "ff-dax-pro-condensed", sans-serif;
}

.tk-ff-dax-pro-wide {
  font-family : "ff-dax-pro-wide", sans-serif;
}
