.icon {
  &-27px {
    font-size: 1.6875rem; // 27px
  }
  &-2x {
  font-size: 2rem; // 32px
  }
  &-2_5x {
    font-size: 2.5rem;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before, [class^="fa-"]:before, [class*="fa-"]:before {
  color: $gray-300;
}

/**
 * Search icon in header
 */
#search-icon-svg {
  fill : $gray-300;
}
